<div class="materials">
    <button pButton type="button" label="Add" (click)="add()"></button>
    <p-table class="ptable" [value]="materials">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-material>
        <tr>
          <td>{{material.id}}</td>
          <td>{{material.name}}</td>
          <td>
            <div *ngIf="authService.authenticatedUser">
              <button pButton type="button" label="Edit" [routerLink]="'/materials-edit/' + material.id"></button> &nbsp;&nbsp;
              <button pButton type="button" label="Delete"  (click)="delete(material.id)"></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


</div>
