<div class="products">
  <div class="product">
    <button pButton type="button" label="Add" (click)="add()"
            *ngIf="authService.authenticatedUser.administrator === true"></button>

    <p-table class="ptable" [value]="productsPage?.content"
             [lazy]="true" (onLazyLoad)="loadProducts($event)"
             [paginator]="true" [rows]="100" [totalRecords]="productsPage?.numberOfElements" [loading]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>Product id</th>
          <th>Name</th>
          <th></th>
          <th>Price</th>
          <th>Description</th>
          <th>Detail</th>
          <th>In stock</th>
          <th>Category</th>
          <th>Gender</th>

          <th *ngIf="authService.authenticatedUser.administrator === true">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td> <img [src]="'/assets/' + product.id + '.jpg'"></td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td>{{product.detail}}</td>
          <td>{{product.quantity}}</td>
          <td>{{getCategoryName(product.categoryId)}}</td>
          <td>{{getGenderType(product.genderId)}}</td>
          <td>
            <div *ngIf="authService.authenticatedUser.administrator === true">
              <button pButton type="button" label="Edit" [routerLink]="'/products-edit/' + product.id"></button>
              <button pButton type="button" label="Delete"  (click)="delete(product.id)"></button>
            </div>
            <button pButton type="button" label="Buy" (click)="addToShoppingCart(product)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  </div>

</div>
