<div class="products">
  <div class="product">
    <p-table class="ptable" [value]="products">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Detail</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Gender</th>

          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.description}}</td>
          <td>{{product.detail}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.categoryId}}</td>
          <td>{{product.genderId}}</td>


          <td>
            <a [routerLink]="'/products-edit/' + product.id">Edit</a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <button pButton type="button" label="Add" (click)="add()"></button>

</div>
