.products {
  width: 100%;
}

.product {
  width: 100%;
}

.ptable {
  width: 100%;
}
img{
  width: 150px;
  height: 150px;
}
button {
  background-color:turquoise;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80px;
}
button:hover {
  opacity: 0.8;
}
