<div class="edit-product">

  <label>Name<input type="text" pInputText [(ngModel)]="product.name"/></label>
  <label>Price<input type="text" pInputText [(ngModel)]="product.price"/></label>
  <label>Description<input type="text" pInputText [(ngModel)]="product.description"/></label>
  <label>Detail<input type="text" pInputText [(ngModel)]="product.detail"/></label>
  <label>Quantity<input type="text" pInputText [(ngModel)]="product.quantity"/></label>
  <label>Category
    <p-dropdown
      [options]="categories"
      [(ngModel)]="product.categoryId"
      optionLabel="name"
      dataKey="id"
    ></p-dropdown>
  </label>
  <label>Gender
    <p-dropdown
      [options]="genders"
      [(ngModel)]="product.genderId"
      optionLabel="type"
      dataKey="id"
    ></p-dropdown>
  </label>
  <button pButton type="button" label="Save" (click)="save()"></button>
  <button pButton type="button" label="Cancel" (click)="cancel()"></button>
</div>
