.intro {
  font-style: italic;
  font-size: x-large;
  text-align: center;
}

.cart {
  padding-top: 3%;
  position: absolute;
  width: 900px;
  height: 500px;
  z-index: 15;
  top: 40%;
  left: 35%;
  margin: -100px 0 0 -150px;
}
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
