<div class="app-generic">
  <div class="app-header">
    <div class="app-logo"></div>
    <div class="app-menu">
      <a class="app-menu-link" routerLink="">Home</a>
      <a class="app-menu-link" routerLink="products">Products</a>
      <a class="app-menu-link" routerLink="categories">Categories</a>
      <a class="app-menu-link" routerLink="materials">Materials</a>
      <a class="app-menu-link" routerLink="users">Users</a>
      <a class="app-menu-link" routerLink="gemstones">Gemstones</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
