<div class="app-generic">
  <div class="app-header">
    <div class="app-logo" ></div>
    <div class="app-menu" *ngIf="authService.authenticatedUser">
      <a class="app-menu-link"  routerLink="">Home</a>
      <a class="app-menu-link" routerLink="products">Products</a>
      <a class="app-menu-link" routerLink="categories">Categories</a>
      <a class="app-menu-link" routerLink="materials">Materials</a>
      <a class="app-menu-link" routerLink="users" *ngIf="authService.authenticatedUser === true" >Users</a>
      <a class="app-menu-link" routerLink="gemstones">Gemstones</a>
      <a class="app-menu-link-bag" routerLink="shopping-cart">My Bag</a>
    </div>
  </div>  <router-outlet></router-outlet>
</div>
