<div class="background">
  <div class="title">
    <p class="intro"> Oh My Jewelry</p>
    <p class="intro"> Don’t limit your life. Be strong. Be beautiful. Be you!</p>
    <img src="../../assets/home.jpg">
  </div>
  <div class="new-collection">
    Discover the New Collection  </div>
  <div>
    <img  class="images" src="../../assets/40.jpg">
    <img   class="images"src="../../assets/41.jpg">
    <img  class="images"src="../../assets/42.jpg">
    <img src="../../assets/home1.jpg">
  </div>
</div>
