input[type=text] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}
label {
  width: 150px;
  text-align: center;
  padding-top: 10px;
}
.edit-user {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/background.jpg");

}
button {
  background-color:turquoise;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80px;
}
button:hover {
  opacity: 0.8;
}
