<div class="categories">
  <div class="category">
    <p-table class="ptable" [value]="categories">
      <ng-template pTemplate="header">
        <tr>
          <th>Id</th>
          <th>Name</th>

          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-category>
        <tr>
          <td>{{category.id}}</td>
          <td>{{category.name}}</td>
          <td>
            <a [routerLink]="'/categories-edit/' + category.id">Edit</a>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
